/* line 1, ../sass/addSurvey.scss */
#survey-wrap {
  vertical-align: center;
  margin-left: 25%;
  margin-top: 5%;
  text-align: center;
}

/* line 8, ../sass/addSurvey.scss */
#survey-title {
  border: 1px solid #fff;
  border-radius: 25px;
}
