#dash-wrap {
	margin-top: 5%;
}

.body {
	position: absolute;
	top: -20px;
	left: -20px;
	right: -40px;
	bottom: -40px;
	width: auto;
	height: auto;
	background-image:
		url("../../resources/images/city-skyline-wallpapers-008.jpg");
	background-size: cover;
	-webkit-filter: blur(5px);
	z-index: 0;
}

.grad {
	position: absolute;
	top: -20px;
	left: -20px;
	right: -40px;
	bottom: -40px;
	width: auto;
	height: auto;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0
		, 0, 0)), color-stop(100%, rgba(0, 0, 0, 0.65)));
	/* Chrome,Safari4+ */
	z-index: 1;
	opacity: 0.7;
}

.blackImg {
	background-image: url('../../resources/images/1685510.jpg');
	opacity: 0.2;
	z-index: -1;
	width: 100%;
	position: absolute;
	height: 100%;
}

.card {
	overflow: hidden !important;
	display: block !important;
	position: absolute;
	min-width:600px;
	width: auto;
	left: 25%;
	background-color: transparent;
	color: #fff;
	border: 1px solid #000 !important;
	margin-top: 5%;
	z-index: 20;
	height: auto;
}

input {
	text-align: center;
	/* 	border:1px solid #fff; */
}

#logoutButton {
	position: relative;
	z-index: 10;
	text-align: right;
	float: right;
	background-color: transparent;
	border-color: transparent;
	color: white;
	font-weight: 900;
}

#user {
	position: relative;
	z-index: 10;
	text-align: right;
	float: right;
	color: white;
	font-weight: 900;
	font-size: 16px;
	border-right: 1px solid wheat;
	padding-right: 1%;
}

#logoutButton {
	position: relative;
	z-index: 10;
	text-align: right;
	float: right;
	background-color: transparent;
	border-color: transparent;
	color: white;
	font-weight: 900;
}

#user {
	position: relative;
	z-index: 10;
	text-align: right;
	float: right;
	text-transform: capitalize;
	color: white;
	font-weight: 900;
	font-size: 16px;
	border-right: 1px solid wheat;
	padding-right: 1%;
}
.card .card-content .card-title{
	font-weight: 500;
}
.main-content > p > label{
	color:white;
}

.main-content{
	margin-top:10%;
	min-width:35%;
	display: inline-block;
	position: relative;
	width: auto;
	margin:10px;
	float:left;
	
}
.action-buttons > a{
	color:turquoise;
	
}
.action-buttons{
	
	margin:10px;
	
	min-width:35%;
	display: inline-block;
	position: relative;
	width: auto;
	float:right;
}
.analyse-button{
  clear: both;
  position: relative;
  margin-top: 15px;
  margin-left: 15%;
}